name: Build APK
on: [push]
jobs:
  build-android:
    name: Build for Android
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          wget http://security.ubuntu.com/ubuntu/pool/universe/n/ncurses/libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install -y ./libtinfo5_6.3-2ubuntu0.1_amd64.deb
          sudo apt install -y \
            git zip unzip python3-pip autoconf libtool pkg-config zlib1g-dev \
            libncurses5-dev libncursesw5-dev cmake libffi-dev \
            libssl-dev automake openjdk-17-jdk\
            build-essential libstdc++6 aidl
          python3 -m pip install --upgrade --user Cython virtualenv buildozer
          echo 'export PATH=$PATH:$HOME/.local/bin' >> $GITHUB_ENV

      - name: Setup Java environment
        run: |
          echo "JAVA_HOME=/usr/lib/jvm/java-17-openjdk-amd64" >> $GITHUB_ENV
          echo "PATH=$JAVA_HOME/bin:$PATH" >> $GITHUB_ENV

      - name: Configure AIDL
        run: |
          AIDL_PATH=$(which aidl)
          mkdir -p ~/.buildozer/android/platform/android-sdk/build-tools/31.0.0/
          cp "$AIDL_PATH" ~/.buildozer/android/platform/android-sdk/build-tools/31.0.0/
          chmod 777 ~/.buildozer/android/platform/android-sdk/build-tools/31.0.0/aidl

      - name: Build APK with Buildozer
        env:
          PATH: ${{ env.PATH }}
        run: |
          mkdir -p ~/.buildozer/android/platform
          buildozer -v android debug

      - name: Upload APK artifact
        uses: actions/upload-artifact@v4
        with:
          name: apk
          path: bin/*.apk
